<!-- Header -->
  <header id="header" class="skel-layers-fixed">
    <div class="container">
      <h1><a href="/index.html" class="icon fa-cube">{{ site.title }}</a></h1>
      <nav id="nav">
        <ul>
          <li><a href="/about.html">About</a></li>
          <li><a href="/services.html">Services</a></li>
          <li><a href="/testimonials.html">Testimonials</a></li>
          <li><a href="/whitepapers">White Papers</a></li>
          <li><a href="/contact.html">Contact</a></li>
          <!-- <li>
            <a href="">Page Layouts</a>
            <ul>
              <li><a href="left-sidebar.html">Left Sidebar</a></li>
              <li><a href="right-sidebar.html">Right Sidebar</a></li>
              <li><a href="no-sidebar.html">No Sidebar</a></li>
              <li><a href="contact.html">Contact</a></li>
              <li>
                <a href="">Submenu</a>
                <ul>
                  <li><a href="#">Option One</a></li>
                  <li><a href="#">Option Two</a></li>
                  <li><a href="#">Option Three</a></li>
                  <li><a href="#">Option Four</a></li>
                </ul>
              </li>
            </ul>
          </li> -->
        </ul>
      </nav>
    </div>
  </header>
